body{
    background-color: #e5e5e5;
}
.logo1 {
    position: absolute;
width: 160px;
height: 36.02px;
top: 7.5%;
left: 5%;
}

.line{
    position: absolute;
width: 769.01px;
height: 13.44px;
left: 820px;
top: 479.51px;
background: #3766E8;
opacity: 0.2;
transform: rotate(-30deg);
}

.line2{
    position: absolute;
width: 1852.96px;
height: 392.25px;
left: -117.75px;
top: 285.11px;

background: #F0F0F0;
opacity: 0.45;
transform: rotate(-30deg);
}

.line3{
    position: absolute;
width: 769.01px;
height: 13.44px;
left: -124.11px;
top: 560.09px;

/* Primary color extralight focus */

background: #E0E8FC;
transform: rotate(-30deg)
}

.anchor{
    position:absolute;
    left:42.5%;
    right: 42.5%;
    top: 850px;
    text-decoration: none;
    color: #545454;
}

@media (max-width: 1200px){
    
    .anchor{
        left:25%;
        right: 25%;
    }
  }